body {
  background-color: #bbbbbb;
}

h1 {
  padding: 10px;
  text-align: center;
  font-family: Orbitron, sans-serif;
}

.wrapper {
  background-color: #dddddd;
  padding: 15px;
  border-radius: 5px;
  width: 175px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(6, 40px);
  grid-gap: 5px;
}

.display {
  grid-column: 1 / -1;
  background-color: #D3D3D3;
  padding: 0px;
  text-align: right;
  font-family: Orbitron, sans-serif;
}

.zero-btn-span {
  grid-column: span 2;
}

.equal-btn-span {
  grid-row: span 2;
}

.btn-color {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: Orbitron, sans-serif;
}

.btn-color-clear {
  background-color: red;
  color: white;
  border-radius: 10px;
  font-family: Orbitron, sans-serif;
}
